<!-- views/thankyou.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Thank You</title>
</head>
<body>
  <h1>Thank you, <%= name %>!</h1>
  <p>We've received your email: <%= email %></p>
  <a href="/">Go Back</a>
</body>
</html>
